
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page_success {
    text-align: center;
    width: 70%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page_data {
    font-weight: bold;
    color: #333;
}

.page_btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color:  rgb(235, 123, 59);;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.page_btn:hover {
    background: rgb(185, 75, 11);
}

footer {
    margin-top: 50px;
}