/* Estilos para el contenedor principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para la sección */
.page_success {
    text-align: center;
    width: 70%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los datos de la página */
.page_data {
    font-weight: bold;
    color: #333;
}

/* Estilos para el botón */
.page_btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.page_btn:hover {
    background-color: #45a049;
}

/* Estilos para el pie de página */
footer {
    margin-top: 50px; /* Ajusta según sea necesario */
}