.header {
    background-color: #333;
    color: #fff;
    /* padding: 20px 0; */
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-item {
    padding: 0 15px;
}

.navbar-collapse {
    display: flex;
    width: 100%;
    padding: 0 2%;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    max-width: 100%;
}


.navbar-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #F08080;
}

.buscar {
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

.buscar-boton {
    padding: 8px 15px;
    background-color: hsla(11, 100%, 62.2%, 1);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.buscar-boton:hover {
    background-color: hsla(11, 100%, 62.2%, 1);
}

.carrito {
    ::before {
        background: url('/src/assets/carrito.png');
        content: '';
    }
}

/* Media Query para hacer que la navegación sea responsive */
@media screen and (max-width: 768px) {
    .navbar-list {
        justify-content: center;
    }

    .navbar-item {
        padding: 5px;
    }

    .buscar {
        margin: 0;
    }

    .header {
        padding: 0;
    }
}